.body_comment{
  padding: 0 8px;
  font-size: 14px;
  display: block;
  line-height: 25px;
  word-break: break-word;
}

.body_comment .show_more, .body_comment .show_less{
background: #3578e5;
border: none;
box-sizing: border-box;
color: #fff;
font-size: 24px;
margin-top: 24px;
padding: 12px;
text-shadow: none;
width: 100%;
/*font-weight:bold;*/
position: relative;
text-align: center;
vertical-align: middle;
border-radius: 2px;
}